#latex files
*.aux
*.fdb_latexmk
*.fls
*.log
*.lof
*.lot
*.out
*.toc
*.synctex.gz

!*.tex
!*.pdf
!*.txt
!*.png
!*.PNG
!*.jpg

#ignore vscode settings
*.vscode

#ignore python caching
__pycache__
__pycache__/*